@import url('https://fonts.googleapis.com/css?family=Arapey');
@font-face {
	font-family: "DaxRegular";
	src: url('DaxRegular.ttf');
}
body
{
	background-image: url("../images/fond/crissXcross/crissXcross.png");
	background-color: ;
	font-size: 17px;
	margin-top: 1em auto 2em;
	color : #000;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-brand
{
    color: #494949;
}

.navbar-default .navbar-brand:hover
{
    color: #494949;
}

.navbar-default .navbar-nav > li > a
{
    color: #494949;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #494949;
}

.important {
text-align:center;
display: inline-block;
width: 350px;
}

.navbar-brandName
{
	font-family: "DaxRegular";
}

a
{
	color: #494949;!important
}

a:hover
{
	color: #494949;!important
}

a:focus
{
	color: #494949;!important
}

.presentation
{
	background-color: #ffffff;
	border-radius: 1em;
	padding-left: 2em;
	padding-bottom: 2em;
}

.date
{
	padding-right: 3em;
	margin-top: 2em;
}

.editeur
{
		margin-top: 0em;
}

.reference li
{
	padding-left: 2em;
}

.titleDescription
{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.addPictures
{
	background-color: rgba(248, 248, 248, 0.6);
	color: black;
	border-color: black;
}

.addPictures:hover
{
	background-color: rgba(248, 248, 248, 0.6);
	color: black;
	border-color: black;
}

.addPictures:focus
{
	background-color: rgba(248, 248, 248, 0.6);
	color: black;
	border-color: black;
}

.contenuDesc
{
	margin-left: 2em;
}

.searchIcon
{
	height: 2.4em;
}

.statPanel
{
	background-color: #ffffff;
	border-radius: 1em;
	color : #494949;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
}

.statPanel li
{
	padding-left: 1.5em;
}

.filtre div
{
	padding-bottom: 0.3em;
}

.control-label
{
	color: #494949;
}

.btn-sm
{
	margin: 0em 0.5em 0em 0.5em;
	margin-bottom: 1em;
}

.btn-circle
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	margin-top: 1.5em;
}

span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {

	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}

.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #494949;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}

.table-filter .favoris
{
	color: #F0AD4E;
}

.table-filter .star .star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #F0AD4E;
}
.table-filter .star .star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #494949;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color : rgb(119, 119, 119)
}

footer p
{
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
